body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section1 {
  background-color: #f2f2f2;
}

#section2 {
  background-color: #ddd;
}

#section3 {
  background-color: #ccc;
}
